<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link href="css/basic.css" type="text/css" rel="stylesheet">
    <link href="css/listaEventos.css" type="text/css" rel="stylesheet">
    <title>EventosApp</title>
</head>
<body>
    <header>
        <h1>EventosApp</h1>
        <p><a href="/eventos">Ver Eventos</a> <a href="/cadastrarEvento"><span id="cadastrarBtn">Cadastrar Evento</span></a></p>
    </header>
    <main>
        <h2>Lista de Eventos</h2>

        <table>
            <thead>
                <th>Nome</th>
                <th>Local</th>
                <th>Data</th>
                <th>Horário</th>
            </thead>
            <tbody>
                <tr th:each="evento : ${eventos}">
                    <td><a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.codigo)).build()}"><span th:text="${evento.nome}"></span></a></td>
                    <td><span th:text="${evento.local}"></span></td>
                    <td><span th:text="${evento.data}"></span></td>
                    <td><span th:text="${evento.horario}"></span></td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>